<mat-card>
  <form class="form" [formGroup]="formGroup" (ngSubmit)="shortify()">
    <section>
      <mat-slide-toggle formControlName="toggle"
        >Suggest short URL</mat-slide-toggle
      >
    </section>

    <section>
      <h4></h4>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>URL to shortify</mat-label>
        <mat-error *ngIf="formGroup.get('url')?.invalid"
          >URL is not valid</mat-error
        >

        <input matInput placeholder="Url" type="url" formControlName="url" />
      </mat-form-field>
      <mat-form-field *ngIf="isToggled()" class="full-width" appearance="fill">
        <mat-label>Alias</mat-label>
        <mat-error *ngIf="formGroup.get('shorturl')?.invalid"
          >Short url already taken</mat-error
        >
        <input matInput placeholder="" type="text" formControlName="shorturl" />
      </mat-form-field>

      <button
        class="full-width"
        mat-raised-button
        type="submit"
        color="primary"
        appearance="fill"
        [disabled]="!formGroup.valid"
      >
        Shortify
      </button>
    </section>
  </form>

  <section class="padded" *ngIf="updated && getShortU().length !== 0">
    <a class="redirectlink" [routerLink]="getShortRoute()">{{ getShortU() }}</a>
  </section>
</mat-card>
