.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  min-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.full-width {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 10px;
}

div.mat-form-field-wrapper {
  width: 100% !important;
}

a.redirectlink {
  background-color: #3f51b5;
  color: white;
  padding: 10px;
  font-weight: bold;
  box-shadow: 5px 5px 0 lightgray;
  transition: 0.2s ease-in-out;
  display: inline-block;
}

a.redirectlink:hover {
  transform: translate(5px, 5px);
  box-shadow: none;
}

section.padded {
  margin-top: 10px;
}
