<mat-card>
  <form class="form" [formGroup]="formGroup" (ngSubmit)="shortify()">
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>URL to shortify</mat-label>
      <mat-error *ngIf="!formGroup.valid">URL is not valid</mat-error>

      <input matInput placeholder="Url" type="url" formControlName="url" />
    </mat-form-field>

    <button
      mat-raised-button
      type="submit"
      color="primary"
      appearance="fill"
      [disabled]="!formGroup.valid"
    >
      Shortify
    </button>

    <button *ngIf="updated" mat-flat-button class="link">
      {{ shorturl }}
    </button>
  </form>
</mat-card>
